<!-- <span class="inline-block border border-orange-400 bg-orange-200 mr-2 rounded-lg p-1 pointer-events-none">
   <slot/>
  </span>
  <span class="border border-orange-400 bg-orange-200 mr-2 rounded-lg p-1 [&_*]:bg-orange-200">
  <slot />
</span> -->
<span class="inline-block border border-orange-400 bg-orange-200 mr-2 rounded-lg p-1 pointer-events-none [&_*]:bg-orange-200">
  <slot />
</span>
