<h3 class="mt-8 text-base font-bold tracking-tight text-slate-900">
  Have questions?
</h3>

<p class="text-slate-900">
  Still have questions? <a href="mailto:mail@gaggimate.eu" class="underline hover:no-underline">Send an email</a>!
</p>
