<h3 class="mt-8 text-base font-bold tracking-tight text-slate-900">
    Have questions?
</h3>

<p class="text-slate-900">
    Still have questions? <a href="https://delta2.eu/discord" class="underline hover:no-underline">Join the Discord</a>!
</p>
