---
const {showQuicklinks} = Astro.props;
---

{showQuicklinks &&
  <h3 class="mt-16 text-base font-bold tracking-tight text-slate-900">
    Get set up quickly
  </h3>

  <ul class="mt-4 grid grid-cols-1 gap-6 sm:grid-cols-2">
    <li>
      <a href="/docs/sourcing-pcb" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
        <h4 class="font-bold tracking-tight text-slate-900">
          Source your components
        </h4>

        <p class="text-slate-600">
          You'll find everything you need to buy to get started here
        </p>
      </a>
    </li>

    <li>
      <a href="/docs/flashing" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
        <h4 class="font-bold tracking-tight text-slate-900">
          Flashing
        </h4>

        <p class="text-slate-600">
          Sourced the components? Flash them here
        </p>
      </a>
    </li>

    <li class="">
      <a href="/docs/installation-gc" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
        <h4 class="font-bold tracking-tight text-slate-900">
          Installation - Gaggia Classic
        </h4>

        <p class="text-slate-600">
          Convert your Gaggia Classic to GaggiMate
        </p>
      </a>
    </li>

      <li class="">
          <a href="/docs/installation-gcp" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
              <h4 class="font-bold tracking-tight text-slate-900">
                  Installation - Gaggia Classic Pro
              </h4>

              <p class="text-slate-600">
                  Convert your Gaggia Classic Pro to GaggiMate
              </p>
          </a>
      </li>
  </ul>
}
